body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Global*/

@font-face {
  font-family: 'Amaranth';
  src: url(./assets/fonts/amaranth.otf) format('opentype');
}

/* VARIABLES */
:root {
  --color-primary: #96b011;
  --color-bcg: #f2f2f2;
  --color-text: #666;
  --color-cta: #b09067;
  --font-title: 'Amaranth', sans-serif;
  --font-text: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* GLOBAL */

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--font-text);
  color: var(--color-text);
  background-color: var(--color-bcg);
}

h2,
h3 {
  font-family: var(--font-title);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 100;
}

h2 {
  width: 100%;
  color: var(--color-primary);
}

figcaption {
  margin: 12px 0;
  text-align: center;
  font-size: 1.2rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

ul {
  list-style: none;
}


p:not(p:first, p:last-of-type) {
  margin: 2rem 0;
  line-height: 1.4;
}

.cta {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  padding: 1.8rem;
  text-transform: uppercase;
  background-color: var(--color-cta);
}

/* MAIN HEADER */

#mainHeader,
footer {
  background: url(../src/assets/images/bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

#mainHeader {
  text-align: center;
  position: relative;
}

#mainHeader>p {
  padding: 1rem;
  background-color: #0a0a0a13;
}

.ribbon {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.hidden {
  visibility: hidden;
}

.mycart {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  -webkit-box-shadow: 1px 1px 7px 2px #8f8e8e60;
  box-shadow: 1px 1px 7px 2px #8f8e8e60;
}

.icon-cart {
  padding: 1rem;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  color: #e9e7e7;
}

.mycart span {
  padding: 10px;
  justify-content: center;
}

.txt-mycart {
  display: none;
}

.link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.link:hover {
  opacity: 0.4;
}

#mainHeader nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

#mainHeader nav .link {
  padding: 0.5rem;
  text-transform: uppercase;
}

.slider-nav {
  text-align: center;
  margin-top: 1rem;
}

button {
  border: none;
  padding: 0 0.5rem;
}

button:hover {
  opacity: 0.5;
}

/* MAIN */

main {
  max-width: 1100px;
  margin: 2.5rem auto;
}

/* event */

.event {
  display: none;
}

/* section  */

/* hover */

.hover:hover {
  opacity: 0.3;
}

.category-menu,
.suggestions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin: 3rem 0;
  padding: 5rem 2rem 3rem;
  background-color: #fff;
  text-align: center;
}


.category-menu .link,
.home>.suggestions .price {
  color: var(--color-text);
  font-weight: bold;
}

.price {
  display: block;
  padding: 1rem;
  font-size: 2rem;
}

/* middle_border*/

h3 {
  color: var(--color-primary);
}

h3 > span {
  display: inline-block;
  width: 30%;
  position: relative;
  top: -0.5rem;
  background-color: #ffffff;
  padding: 0 1rem;
  border-top: 1px solid rgb(220, 220, 220);

}

.suggestions p:nth-child(3) {
  text-transform: capitalize;
}

/*Main about */

.about {
  width: 90%;
  margin: 2rem auto;
}

.about h2,
.about h3 {
  margin: 3rem 0;
  font-weight: 100;

}

.about h2 {
  font-size: 3.5rem;
  text-align: left;
  color: var(--color-text);
}

.about aside {
  background-color: rgb(190, 232, 135);
  margin : 3rem 0 4rem;
}

.about p {
  padding: 1rem 2rem 1rem 0;
  line-height: 1.4;
}

.about figure {
  padding-top: 2rem;
}

.about aside > div {
  text-align: center;
}

.about figurecaption {
  display: block;
  padding: 2rem 0;
}

.about aside img, .about .fa-heart, .about .fa-face-laugh-beam {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: var(--color-primary);
  color: #fff;
  font-size: 15vh;
  width: 15vh;

}

.about h3 {
  text-align: start;
}

h3 {
  color: var(--color-primary);
}

.about aside>img {
  /* background-color: var(--color-primary); */
  fill: var(--color-bcg);
}

/*Main admin */

.admin {
  width: 80%;
  margin: 2rem auto;
}

.admin .adminNav {
  width: 60%;
  padding: 2rem;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  text-align: center;
}

.admin a {
  color: var(--color-cta);
  text-decoration: none;
}

.admin a:hover {
  opacity: 0.5;
}

.admin>h2 {
  margin-top: 2rem;
}

thead,
tfoot {
  background-color: var(--color-primary);
  color: var(--color-bcg);
}

tbody {
  background-color: #e4f0f5;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 1rem;
  width: 100%;
  margin: auto;
}

td,
th {
  border: 1px solid rgb(19, 18, 18);
  padding: 5px 10px;
}

td {
  text-align: center;
}

td img {
  width: 75%;
}

/* FOOTER */

.feature {
  background-color: #94aa28;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  color: var(--color-bcg);
  text-transform: uppercase;
  font-size: 1.1rem;
}

.feature i {
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.feature li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerMenu {
  padding-bottom: 3rem;
}

.footerMenu,
.footerMenu section {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--color-bcg);
  text-align: center;
}

.footerMenu section h2 {
  font-family: var(--font-text);
  text-transform: uppercase;
  color: var(--color-bcg);
}

.footerMenu a {
  margin: 0.2rem;
  padding: 0.2rem;
}

.txtFooter {
  background-color: #0a0a0a13;
  margin-top: 2rem;
  padding: 3rem;
  text-align: justify;
  line-height: 1.4;
}

.textFooter a {
  display: inline;

}

.txtFooter img {
  width: 50px;
}

/*Tablets et Desktops */

@media screen and (min-width: 480px) {

  h1 {
    position: relative;
    left: -370px;
  }

  #mainHeader nav {
    flex-direction: row;
    justify-content: center;
  }

  .mycart {
    position: absolute;
    right: 30px;
    top: 65px;
    border: none;

  }

  .ribbon {
    visibility: visible;
  }

  .event {
    display: block;
  }

  .category-menu,
  .suggestions {
    flex-direction: row;
    flex-wrap: ;
  }

  a {
    display: inline-block;
  }

  .about #amelie {
    float: left;
    padding: 1rem 2rem 1rem 0;
  }

  .about #xavier {
    float: right;
    padding: 1rem 0 1rem 2rem;
  }


}